body{
    background-color: rgb(5, 5, 5);
    
}
h1{
    color: rgb(252, 248, 248);
}
h2.carrossel{
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    overflow: hidden;
    
}
h2.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
img{
    object-fit: cover;
}

h2 {
    color: #fff;
}
/*carrocel*/
.carousel {
    position: relative;
    max-height: 60vh;
}

.carousel img {
    max-height: 50vh;
    width: 100%;
    background-size: contain;
}
